# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Backups
backups/
*.tar.gz

# Env
.env
*.tfstate
*.tfstate.*
.terraform/
tofu/.terraform/
k8s/secret.yaml
